:root>* {
    --md-primary-fg-color: #71afdd;
    --md-primary-fg-color--light: #71afdd;
    --md-primary-fg-color--dark: #71afdd;
    --md-accent-fg-color: #71afdd;
    --md-accent-fg-color--light: #71afdd;
    --md-accent-fg-color--dark: #71afdd;
}

[data-md-color-scheme="default"] {
    background-color: #fff;
    --md-default-fg-color: #222831;
    --md-default-fg-color--light: #222831;
}

@media (prefers-color-scheme: dark) {
     :root>* {
        background-color: #121212;
        --md-primary-fg-color: #71afdd;
        --md-primary-fg-color--light: #71afdd;
        --md-primary-fg-color--dark: #71afdd;
        --md-accent-fg-color: #71afdd;
        --md-accent-fg-color--light: #71afdd;
        --md-accent-fg-color--dark: #71afdd;
        --md-primary-fg-color: #424242;
        --md-typeset-a-color: #bdbdbd;
        --md-default-fg-color--light: #bdbdbd;
        --md-primary-bg-color: #ffffff;
    }
}

[data-md-color-scheme="slate"] {
    background-color: #121212;
    --md-primary-fg-color: #71afdd;
    --md-primary-fg-color--light: #71afdd;
    --md-primary-fg-color--dark: #71afdd;
    --md-accent-fg-color: #71afdd;
    --md-accent-fg-color--light: #71afdd;
    --md-accent-fg-color--dark: #71afdd;
    --md-primary-fg-color: #424242;
    --md-typeset-a-color: #bdbdbd;
    --md-default-fg-color--light: #bdbdbd;
}